<h1 mat-dialog-title>Add Flavour</h1>
<div mat-dialog-content>

  <div *ngIf="data.supplierList.length > 0">

    <mat-form-field appearance="fill">
      <mat-label>Supplier</mat-label>
      <mat-select [(ngModel)]="data.supplier">
        <mat-option *ngFor="let item of data.supplierList" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Flavour Name</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Cost (Litre)</mat-label>
      <input matInput [(ngModel)]="data.cost">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Stock On Hand (ml)</mat-label>
      <input matInput [(ngModel)]="data.stock">
    </mat-form-field>
      
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
    </div>

  </div>
  
  <div *ngIf="data.supplierList.length < 1">
    <p style="color:red;">Suppliers must be added before flavours</p>
    <a href="admin/suppliers"><button mat-raised-button color="primary">Add Suppliers</button></a>
  </div>



</div>