<div class="wrapper">
  <div class="flex-container form">
    <mat-card>
      <mat-form-field>
        <mat-label>Batch Size</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>VG Percentage</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-card>
  </div>
  <div class="flex-container-sidebar sidebar">
    <mat-card>
      <app-base-liquids-widget></app-base-liquids-widget>
    </mat-card>
    <mat-card>
      <app-weights-widget></app-weights-widget>
    </mat-card>
    <mat-card>
      <app-batch-history></app-batch-history>
    </mat-card>
  </div>
  <div class="flex-container table">
    <mat-card>
      
    </mat-card>
  </div>
</div>