.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.mat-card, .save-button-div {
  margin-top: 15px;
  width: 800px;
}

h3 {
  text-transform: uppercase;
  display: inline-block;
}

.right-button {
  float: right;
  margin-left: 15px;
}

.flavour-search {
  width: 350px;
  margin-right: 30px;
}

.table-input {
  width: 50px;
  text-align: center;
}

.form-select {
  width: 100px;
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgb(82 82 82);
}

.del-button {
  background-color: red;
}