<div class="container">
    <div class="row-container">
        <mat-form-field>
            <mat-label>VG (ml)</mat-label>
            <input matInput [(ngModel)]="vgInput" (keyup)="calc()">
        </mat-form-field>
        <span>=</span>
        <span>{{vgResult}} g</span>
    </div>
    
    <div class="row-container">
      <mat-form-field>
        <mat-label>PG (ml)</mat-label>
        <input matInput [(ngModel)]="pgInput" (keyup)="calc()">
      </mat-form-field>
      <span>=</span>
      <span>{{pgResult}} g</span>
    </div>

    <button mat-raised-button color="primary">Commit</button>

</div>