<div class="flex-container">
  <div class="header">
    <h1>{{title}} Recipe</h1>
  </div>
  <div class="recipe-info">
    <app-recipe-info
    [title]="title"
    [collection]="collection"
    [concentrate]="concentrate"></app-recipe-info>
  </div>
  <div>
    <app-add-flavour [id]="id"></app-add-flavour>
  </div>
  <div class="ingredients-list">
    <app-recipe-ingredients-list [id]="id"></app-recipe-ingredients-list>
  </div>
  <div>
    <button mat-raised-button style="background-color: red; color: white;" (click)="deleteHandler()">Delete Recipe</button>
    <button style="float:right;" mat-raised-button color="primary" (click)="saveButton()">Save Recipe</button>
  </div>
</div>