.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-container div {

  margin-bottom: 25px;
}

.flex-container .recipe-info {
  align-self: center;
}

.flex-container .ingredients-list {
  width: 700px;
}

.flex-container .header {
  padding: 20px 0px 0px 0px;
}