.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

form {
  padding: 1px;
}


button {
  width: 120px;
}




th.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell {
  padding: 10px;
}

.mat-cell {
  padding: 10px;
}

.commit-button {
  margin: 15px 30px 0 0;
  align-self: flex-end;
}