.wrapper {
  display: grid;
  grid-template-areas:
    "form"
    "table1"
    "table2"
    "sidebar";
  gap: 10px;

}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-areas:
      ". form sidebar ."
      ". table1 sidebar ."
      ". table2 sidebar .";
  }
}


.form { grid-area: form; }
.table1 { grid-area: table1; }
.table2 { grid-area: table2; }
.sidebar { grid-area: sidebar; }

