<mat-expansion-panel class="mat-elevation-z0">
  <mat-expansion-panel-header>
    <mat-panel-title>RTV Weights</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item>30ml - 36 g</mat-list-item>
    <mat-list-item>60ml - 71 g</mat-list-item>
    <mat-list-item>100ml - 119 g</mat-list-item>
    <mat-list-item>500ml - 594 g</mat-list-item>
  </mat-list>
</mat-expansion-panel>
<mat-expansion-panel class="mat-elevation-z0">
  <mat-expansion-panel-header>
    <mat-panel-title>Doubler Weights</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item>15ml - 17.5 g</mat-list-item>
    <mat-list-item>30ml - 35 g</mat-list-item>
    <mat-list-item>50ml - 58 g</mat-list-item>
    <mat-list-item>250ml - 290 g</mat-list-item>
  </mat-list>
</mat-expansion-panel>