.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.mat-card {
  width: 400px;
}

.mat-raised-button {
  margin: 20px;
}