<div class="flex-container">
    <div class="item">
        <mat-card>
            <div class="flex-container">
                <mat-form-field style="width: 250px">
                    <mat-label>Email Address</mat-label>
                    <input type="email" matInput [formControl]="emailField" placeholder="Ex. name@email.com">
                </mat-form-field>
                <mat-form-field style="width: 250px">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControl]="passwordField">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="registerButton()">Register</button>
            </div>
        </mat-card>
    </div>
</div>