<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <mat-nav-list>
      <a mat-list-item href="/admin/dashboard"><i class="fas fa-chart-pie fa-fw"></i>Dashboard</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="/admin/suppliers"><i class="fas fa-store fa-fw"></i> Suppliers</a>
      <a mat-list-item href="/admin/base-liquids"><i class="fas fa-flask fa-fw"></i>Base Liquids</a>
      <a mat-list-item href="/admin/flavours"><i class="fas fa-ice-cream fa-fw"></i>Flavours</a>
      <a mat-list-item href="/admin/recipes"><i class="fas fa-blender fa-fw"></i>Recipes</a>
      <a mat-list-item href="/admin/mixing"><i class="fas fa-weight fa-fw"></i>Mixing</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Vape Admin</span>
      <span class="spacer"></span>
      <i class="fas user-icon fa-user"></i>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>