<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/dashboard">Dashboard</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="/suppliers"><i class="las la-store"></i> Suppliers</a>
      <a mat-list-item href="/base-liquids"><i class="las la-flask"></i>Base Liquids</a>
      <a mat-list-item href="/flavours"><i class="las la-ice-cream"></i>Flavours</a>
      <a mat-list-item href="/recipes"><i class="las la-blender"></i>Recipes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Vape Admin</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>