.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}


.mat-divider {
  border-top-color: rgb(119, 119, 119);
}

.spacer {
  flex: 1 1 auto;
}

.user-icon {
  color: rgba(0,0,0,.87) !important;
  cursor: pointer;
}

.mat-list-base .mat-list-item {
  color: #fffaf8;
}

.mat-toolbar {
  z-index: 998;
}