<h1>New Recipe</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Recipe name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Collection</mat-label>
    <input matInput [(ngModel)]="data.collection">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Concentrate Stock</mat-label>
    <input matInput [(ngModel)]="data.concentrate">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>