<mat-card>
  <mat-card-header>
    <mat-card-title>Add Flavour</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field style="flex-basis: 40%;">
      <input type="text"
              placeholder="Search for flavour"
              matInput
              [formControl]="flavourNameSupplier"
              [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field style="width: 150px;">
      <input matInput placeholder="Flavour percentage" [formControl]="percentage">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="formSubmit()">Add Flavour</button>
  </mat-card-content>
</mat-card>