<div class="wrapper">
  <div class="flex-container form">
    <mat-card>
      <div class="form-wrapper">
        <mat-form-field class="recipe">
          <mat-label>Recipe</mat-label>
          <input [formControl]="recipe" matInput [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="finalsize">
          <mat-label>Final Size</mat-label>
          <input matInput [formControl]="size">
        </mat-form-field>
        <mat-form-field class="nicvg">
          <mat-label>Nic VG%</mat-label>
          <input matInput [formControl]="nicvg">
        </mat-form-field>
        <mat-form-field class="nicstrength">
          <mat-label>Nic Strength</mat-label>
          <input matInput [formControl]="nicstrength">
        </mat-form-field>
        <mat-form-field class="targetvg">
          <mat-label>Target VG%</mat-label>
          <input matInput [formControl]="targetvg">
        </mat-form-field>
        <mat-form-field class="targetnic">
          <mat-label>Target Nic</mat-label>
          <input matInput [formControl]="targetnic">
        </mat-form-field>
        <div class="calcbutton">
          <button mat-raised-button color="primary" (click)="calculateButton()">Calculate</button>
        </div>
      </div>

    </mat-card>
  </div>
  <div class="flex-container-sidebar sidebar">
    <mat-card>
      <app-base-liquids-widget></app-base-liquids-widget>
    </mat-card>
    <mat-card>
      <app-weights-widget></app-weights-widget>
    </mat-card>
    <mat-card>
      <app-batch-history></app-batch-history>
    </mat-card>
  </div>
  <div class="flex-container table1">
    <mat-card>
      <div>
        <h2>From Concentrate</h2>
      </div>
      <div class="table">
        <table mat-table [dataSource]="dataSourceConc" matSort>
  
          <ng-container matColumnDef="concentrate">
            <th mat-header-cell *matHeaderCellDef> Concentrate </th>
            <td mat-cell *matCellDef="let element"> {{element.concentrate}} g </td>
          </ng-container>
      
          <ng-container matColumnDef="vg">
            <th mat-header-cell *matHeaderCellDef> VG </th>
            <td mat-cell *matCellDef="let element"> {{element.vg}} g </td>
          </ng-container>
        
          <ng-container matColumnDef="pg">
            <th mat-header-cell *matHeaderCellDef> PG </th>
            <td mat-cell *matCellDef="let element"> {{element.pg}} g </td>
          </ng-container>

          <ng-container matColumnDef="nic">
            <th mat-header-cell *matHeaderCellDef> Nic </th>
            <td mat-cell *matCellDef="let element"> {{element.nic}} g </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumnsConc"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsConc;"></tr>
        </table>
      </div>
  
      <div class="commit-button">
        <button mat-raised-button color="primary" (click)="commitButton('Conc')">Commit</button>
      </div>
    </mat-card>
  </div>
  <div class="flex-container table2">
    <mat-card>
      <div>
        <h2>From Doubler @ 60/40</h2>
      </div>
      <div class="table">
        <table mat-table [dataSource]="dataSourceDoubler" matSort>
        
          <ng-container matColumnDef="doubler">
            <th mat-header-cell *matHeaderCellDef> Doubler </th>
            <td mat-cell *matCellDef="let element"> {{element.doubler}} g </td>
          </ng-container>
      
          <ng-container matColumnDef="doublervg">
            <th mat-header-cell *matHeaderCellDef> VG </th>
            <td mat-cell *matCellDef="let element"> {{element.vg}} g </td>
          </ng-container>

          <ng-container matColumnDef="doublerpg">
            <th mat-header-cell *matHeaderCellDef> PG </th>
            <td mat-cell *matCellDef="let element"> {{element.pg}} g </td>
          </ng-container>

          <ng-container matColumnDef="doublernic">
            <th mat-header-cell *matHeaderCellDef> Nic </th>
            <td mat-cell *matCellDef="let element"> {{element.nic}} g </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumnsDoubler"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsDoubler;"></tr>
        </table>
      </div>
  
      <div class="commit-button">
        <button mat-raised-button color="primary" (click)="commitButton('Doubler')">Commit</button>
      </div>
    </mat-card>
  </div>
</div>