<div class="flex-container">
    <div>
        <mat-card>
            <div class="flex-container">
                <div class="row">
                    <h2>Vape Admin</h2>
                </div>
                <mat-form-field style="width: 250px">
                    <mat-label>Email Address</mat-label>
                    <input matInput type="email" placeholder="name@example.com">
                </mat-form-field>
                <mat-form-field style="width: 250px">
                    <mat-label>Password</mat-label>
                    <input matInput type="password">
                </mat-form-field>
                <div class="row">
                    <a mat-raised-button color="primary" href="/register">Register</a>
                    <button mat-raised-button color="primary">Sign In</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>