.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:15px;
  margin: 30px;
}

.row-container {
  display: flex;
  justify-content: space-around;
  
}
.mat-card {
  margin-top: 25px;
  width: 600px;
}

.textarea-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.textarea-div .mat-form-field {
  width: 60%;
}

.mat-card-title {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

.button-container {
  grid-column: 1 / 3;
}
