<div class="flex-container">
  <mat-card>
    <mat-card-title>
      <h1>{{flavourData.supplier}} - {{flavourData.name}}</h1>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="flavourForm">
        <div class="wrapper">
          <mat-form-field>
            <mat-label>Supplier</mat-label>
            <mat-select [(value)]="flavourData.supplier" formControlName="supplier">
              <mat-option *ngFor="let item of suppliers" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Container Unit</mat-label>
            <mat-select [formControl]="flavourForm.get('unit')">
              <mat-option *ngFor="let item of unitList" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Stock On Hand</mat-label>
            <input matInput formControlName="stock" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cost Per Unit</mat-label>
            <input matInput formControlName="cost" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Notes</mat-label>
            <textarea matInput formControlName="notes"></textarea>
          </mat-form-field>
  
          <div class="button-container">
            <button mat-raised-button style="background-color: red; color: white; float: left;" (click)="deleteHandler()">Delete</button>
            <button mat-raised-button style="float:right;" color="primary" (click)="clickHandler()">Save</button>
          </div>
        </div>
          

      </form>

    </mat-card-content>
  </mat-card>
</div>

