.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-card {
    margin-top: 20px;
    width: 900px;
}

.stock-input {
    width: 75px;
}

.form-select {
    width: 100px;
}

.mat-column-name {
    width: 30%;
}