<div class="flex-container">
    <mat-card>
        <h3>Order Details</h3>
        <div class="wrapper">
            <mat-form-field>
                <mat-label>Supplier</mat-label>
                    <mat-select [formControl]="supplier" (selectionChange)="supplierChange($event.value)">
                        <mat-option *ngFor="let item of suppliers" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Invoice #</mat-label>
                <input matInput [formControl]="invoicenum">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Invoice Date</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </mat-card>
    <mat-card>
        <div>
            <h3>Order Products</h3>
            <button *ngIf="id != 'new'" mat-raised-button color="primary" class="right-button">RECEIVE</button>    
        </div>
        <mat-form-field class="flavour-search">
            <input type="text" placeholder="Add Product" matInput [formControl]="addProduct" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </mat-card>
    <div class="save-button-div">
        <button mat-raised-button color="primary" class="right-button">SAVE INVOICE</button>
    </div>
</div>