.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.flex-container .div {
    display: flex;
    justify-content: center;
    width: 800px;
}

.content-div {
    margin-bottom: 15px;
    margin-top: 10px;
}

.mat-tab-label {
    background-color: #fff !important;
}