
<mat-tab-group mat-align-tabs="center" animationDuration="0ms" dynamicHeight>
    <mat-tab label="Concentrate">
      <div class="wrapper">
        <app-concentrate></app-concentrate>
      </div>
    </mat-tab>
    <mat-tab label="Ready To Vape">
          <app-rtv></app-rtv>
    </mat-tab>
    <mat-tab label="Doubler">
        <app-doubler></app-doubler>
    </mat-tab>
    <mat-tab label="Quick-Mix">
      <app-quick-mix></app-quick-mix>
    </mat-tab>
    <mat-tab label="Test Batch">Content 3</mat-tab>
</mat-tab-group>
