/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer {
  background-color: #6F1A07;
}

.mat-drawer-container {
  background-color: #FFF2EB !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #6F1A07;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color:#ffeae1;
  color: #6F1A07;
}

.mat-raised-button.mat-primary {
  background-color: #6F1A07;
}

.mat-body, .mat-body-1, .mat-typography {
  font: 400 16px/22px Roboto, "Helvetica Neue", sans-serif !important;
  letter-spacing: normal;
}

.mat-cell, .mat-footer-cell {
  font-size: 15px;
}
.mat-header-cell {
  font-size: 14px;
  font-weight: 500;
}

.fas {
  font-size: 1.3em;
  padding-right: 10px;
  color: #B76552;
}