/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-drawer {
  background-color: #374341;
}

.mat-cell, .mat-header-cell {
  font-size: 16px !important;
}

table {
  width: 100%;
  table-layout: fixed;
  padding: 0 20px 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.mat-drawer-container {
  background-color: #F5F6F4 !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #374341;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color:#e3e7de;
  color: #374341;
}

.mat-raised-button.mat-primary {
  background-color: #374341;
}

.mat-body, .mat-body-1, .mat-typography {
  font: 400 16px/22px Roboto, "Helvetica Neue", sans-serif !important;
  letter-spacing: normal;
}

.mat-cell, .mat-footer-cell {
  font-size: 15px;
}
.mat-header-cell {
  font-size: 14px;
  font-weight: 500;
}

.fas {
  font-size: 1.3em;
  padding-right: 10px;
  color: #c2c5be !important;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 12px !important;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-left: 12px !important;
}

.mat-input-element {
  font-size: 16px !important;
}

.mat-tab-header {
  margin-bottom: 10px;
}