/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer {
  background-color: #ebebeb;
}

.mat-toolbar {
  background-color: rgb(63, 63, 63);
}

.mat-toolbar.mat-primary {
  background: #424242;
  color: #fff;
}

.mat-raised-button.mat-primary {
  background-color: #f0570b;
}

.mat-body, .mat-body-1, .mat-typography {
  font: 400 16px/22px Roboto, "Helvetica Neue", sans-serif !important;
  letter-spacing: normal;
}

.mat-cell, .mat-footer-cell {
  font-size: 15px;
}
.mat-header-cell {
  font-size: 14px;
  font-weight: 500;
}

hr {
  border-top: 1px solid rgb(197, 197, 197);
  width: 70%;
}