<form>
    <table>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>Recipe</mat-label>
                    <input type="text" matInput [formControl]="recipe" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field>
                    <mat-label>Batch Size</mat-label>
                    <input matInput type="number" [formControl]="size">
                </mat-form-field>
            </td>
            <td>
                <button mat-raised-button color="primary" (click)="clickHandler()">Calculate</button>
            </td>
        </tr>
    </table>
</form>